In [1]:
import pandas as pd
from ipynb.fs.full.my_functions import transform_fn

## Import Raw Datasets

In [2]:
path = 'C:/Users\Dani\Desktop\Cursos AI\Advanced Computer Vision with Python - Full Course\ASL Alphabet Real Time Translation ML Project\Datasets\joined datasets'

raw_full_df = pd.read_csv(path+'/raw_full_dataset.csv')
raw_train_df = pd.read_csv(path+'/raw_training_dataset.csv')
raw_test_df = pd.read_csv(path+'/raw_test_dataset.csv')

In [3]:
raw_full_df.head()

,label,x0,y0,x1,y1,x2,y2,x3,y3,x4,...,x16,y16,x17,y17,x18,y18,x19,y19,x20,y20
0,1,433.0,293.0,394.0,271.0,377.0,247.0,368.0,224.0,360.0,...,422.0,205.0,444.0,234.0,445.0,216.0,446.0,207.0,447.0,202.0
1,1,417.0,263.0,380.0,253.0,361.0,224.0,356.0,198.0,347.0,...,412.0,227.0,444.0,197.0,438.0,181.0,431.0,198.0,428.0,214.0
2,1,400.0,259.0,363.0,254.0,339.0,226.0,330.0,197.0,321.0,...,401.0,233.0,427.0,190.0,422.0,177.0,417.0,200.0,414.0,220.0
3,1,392.0,261.0,353.0,254.0,328.0,225.0,319.0,195.0,309.0,...,388.0,232.0,418.0,190.0,410.0,176.0,404.0,198.0,403.0,218.0
4,1,386.0,257.0,348.0,251.0,323.0,222.0,313.0,192.0,300.0,...,383.0,228.0,410.0,185.0,403.0,172.0,399.0,195.0,396.0,214.0

In [4]:
raw_train_df.head()

,label,x0,y0,x1,y1,x2,y2,x3,y3,x4,...,x16,y16,x17,y17,x18,y18,x19,y19,x20,y20
0,1,433.0,293.0,394.0,271.0,377.0,247.0,368.0,224.0,360.0,...,422.0,205.0,444.0,234.0,445.0,216.0,446.0,207.0,447.0,202.0
1,1,417.0,263.0,380.0,253.0,361.0,224.0,356.0,198.0,347.0,...,412.0,227.0,444.0,197.0,438.0,181.0,431.0,198.0,428.0,214.0
2,1,400.0,259.0,363.0,254.0,339.0,226.0,330.0,197.0,321.0,...,401.0,233.0,427.0,190.0,422.0,177.0,417.0,200.0,414.0,220.0
3,1,392.0,261.0,353.0,254.0,328.0,225.0,319.0,195.0,309.0,...,388.0,232.0,418.0,190.0,410.0,176.0,404.0,198.0,403.0,218.0
4,1,386.0,257.0,348.0,251.0,323.0,222.0,313.0,192.0,300.0,...,383.0,228.0,410.0,185.0,403.0,172.0,399.0,195.0,396.0,214.0

In [5]:
raw_test_df.head()

,label,x0,y0,x1,y1,x2,y2,x3,y3,x4,...,x16,y16,x17,y17,x18,y18,x19,y19,x20,y20
0,1,473.0,266.0,438.0,260.0,413.0,234.0,399.0,206.0,379.0,...,465.0,232.0,471.0,207.0,473.0,196.0,476.0,213.0,476.0,227.0
1,1,469.0,262.0,433.0,257.0,411.0,229.0,400.0,200.0,383.0,...,469.0,234.0,494.0,198.0,492.0,186.0,488.0,209.0,484.0,227.0
2,1,471.0,264.0,437.0,259.0,415.0,230.0,404.0,200.0,385.0,...,472.0,237.0,496.0,199.0,494.0,188.0,491.0,212.0,487.0,229.0
3,1,473.0,267.0,437.0,262.0,415.0,232.0,404.0,202.0,387.0,...,474.0,239.0,499.0,202.0,498.0,192.0,494.0,214.0,489.0,232.0
4,1,470.0,269.0,432.0,261.0,410.0,232.0,401.0,201.0,386.0,...,470.0,241.0,501.0,205.0,497.0,192.0,491.0,215.0,487.0,234.0

## Transform Datasets

In [6]:
#Features-Target Split
X_raw_full_df = raw_full_df.iloc[:,1:].copy()
Y_full_df = raw_full_df.iloc[:,0].copy()

X_raw_train_df = raw_train_df.iloc[:,1:].copy()
Y_train_df = raw_train_df.iloc[:,0].copy()

X_raw_test_df = raw_test_df.iloc[:,1:].copy()
Y_test_df = raw_test_df.iloc[:,0].copy()

#Feature Preprocessing: Normalizing and Centering Coordinates around the (X0, Y0) landmark
X_preprocessesd_full_df = transform_fn(X_raw_full_df)
X_preprocessesd_train_df = transform_fn(X_raw_train_df)
X_preprocessesd_test_df = transform_fn(X_raw_test_df)

In [7]:
X_preprocessesd_full_df.head()

,x1,y1,x2,y2,x3,y3,x4,y4,x5,y5,...,x16,y16,x17,y17,x18,y18,x19,y19,x20,y20
0,-0.448276,-0.239130,-0.643678,-0.500000,-0.747126,-0.750000,-0.839080,-1.000000,-0.459770,-0.608696,...,-0.126437,-0.956522,0.126437,-0.641304,0.137931,-0.836957,0.149425,-0.934783,0.160920,-0.989130
1,-0.381443,-0.114943,-0.577320,-0.448276,-0.628866,-0.747126,-0.721649,-0.965517,-0.422680,-0.735632,...,-0.051546,-0.413793,0.278351,-0.758621,0.216495,-0.942529,0.144330,-0.747126,0.113402,-0.563218
2,-0.349057,-0.057471,-0.575472,-0.379310,-0.660377,-0.712644,-0.745283,-1.000000,-0.415094,-0.724138,...,0.009434,-0.298851,0.254717,-0.793103,0.207547,-0.942529,0.160377,-0.678161,0.132075,-0.448276
3,-0.357798,-0.076923,-0.587156,-0.395604,-0.669725,-0.725275,-0.761468,-1.000000,-0.422018,-0.725275,...,-0.036697,-0.318681,0.238532,-0.780220,0.165138,-0.934066,0.110092,-0.692308,0.100917,-0.472527
4,-0.345455,-0.067416,-0.572727,-0.393258,-0.663636,-0.730337,-0.781818,-1.000000,-0.445455,-0.741573,...,-0.027273,-0.325843,0.218182,-0.808989,0.154545,-0.955056,0.118182,-0.696629,0.090909,-0.483146

## Train Model

In [8]:
from sklearn.ensemble import RandomForestClassifier

### Full Dataset, Random Split:

In [18]:
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score

X_train, X_test, y_train, y_test = train_test_split(X_preprocessesd_full_df.copy(), Y_full_df.copy(), 
                                                    test_size=0.2, shuffle=True, stratify = Y_full_df.copy())
model0 = RandomForestClassifier()

model0.fit(X_train, y_train)
y_pred = model0.predict(X_test)
score = accuracy_score(y_test, y_pred)*100
print(score)

98.97916666666666

### Train and Test obtained individually, not splitted:

In [19]:
model1 = RandomForestClassifier()

model1.fit(X_preprocessesd_train_df, Y_train_df)
y_pred1 = model1.predict(X_preprocessesd_test_df)
score = accuracy_score(Y_test_df, y_pred1)*100
print(score)

98.95833333333334

### Save Models:

In [20]:
import pickle

filename_model0 = 'model_0_RFC.sav'
pickle.dump(model0, open(filename_model0, 'wb'))
filename_model1 = 'moodel_1_RFC.sav'
pickle.dump(model1, open(filename_model1, 'wb'))